# Supabase
VITE_SUPABASE_URL==
VITE_SUPABASE_ANON_KEY=

VITE_WALLETCONNECT_PROJECT_ID=

# FPL Subscription Contract (after deploying FPLSubscription.sol)
VITE_CONTRACT_ADDRESS=0x1B15C595D5faBefB821B982a542bBD7434f04c2b

COINGECKO_API_KEY=